.game-board {
    display: grid;
    grid-template-rows: 300px 300px 350px;
    grid-template-columns: 500px 500px 500px;
}

body {
  background: #000;     
  display: flex; 
}

.box {
  margin: 2%;
  text-align: center;
  background: #444;
  border: 1px solid #555;
  color: #AAA;
}